{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Profile</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">My Products</a></li>
                                    <li class="breadcrumb-item active"></li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                {#                Start From Here#}


                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="card-img-top">
                                    <img src="{% static 'images/product/horse.png' %}" alt="">
                                </div>

                            </div>
                            <div class="card-footer mt-4 text-center">
                                <h5 class="mb-3 text-truncate"><a href="#" class="text-dark">Item 1
                                   </a></h5>

                                <p class="text-muted">
                                    <i class="bx bx-star text-warning"></i>
                                    <i class="bx bx-star text-warning"></i>
                                    <i class="bx bx-star text-warning"></i>
                                    <i class="bx bx-star text-warning"></i>
                                    <i class="bx bx-star"></i>
                                </p>
                                <h5 class="my-0"><span class="text-muted mr-2">Per Year</span>
                                    <b>$225</b>
                                </h5>

                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-sm-6">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="card-img-top">
                                    <img src="{% static 'images/product/item-1.png' %}" alt="">
                                </div>

                            </div>
                            <div class="card-footer mt-4 text-center">
                                <h5 class="mb-3 text-truncate"><a href="#" class="text-dark">Item-2</a></h5>

                                <p class="text-muted">
                                    <i class="bx bx-star text-warning"></i>
                                    <i class="bx bx-star text-warning"></i>
                                    <i class="bx bx-star text-warning"></i>
                                    <i class="bx bx-star text-warning"></i>
                                    <i class="bx bx-star"></i>
                                </p>
                                <h5 class="my-0"><span class="text-muted mr-2">Per Month</span>
                                    <b>$225</b>
                                </h5>

                            </div>
                        </div>
                    </div>



                <div class="col-lg-3 col-sm-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="card-img-top">
                                <img src="{% static 'images/product/item-2.png' %}" alt="">
                            </div>

                        </div>
                        <div class="card-footer mt-4 text-center">
                            <h5 class="mb-3 text-truncate"><a href="#" class="text-dark">Item-3</a></h5>

                            <p class="text-muted">
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star"></i>
                            </p>
                            <h5 class="my-0"><span class="text-muted mr-2">Per Day</span>
                                <b>$225</b>
                            </h5>

                        </div>
                    </div>
                </div>

            </div>
        </div>
            </div>


    </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    </div>

    </div>
    <!-- end main content-->
{% endblock content %}

