{% extends 'site_base.html' %}
{% load static %}
{% block title %} Terms & Conditions | Horsedch {% endblock title %}
{% block body_content %}

    <section class="section p-4 bg-soft-dark">

        <div class="row mt-5 font-weight-bolder font-size-24 text-uppercase text-white text-center justify-content-center"
             style="background-color: #8EA9DB">

            <p class="">AGB</p>
        </div>

        {% if conditions and conditions.is_active %}

                <div class="row">
                    <h4>{{ conditions.title }}</h4>
                </div>

                <div class="row mt-4">
                    <p class="font-size-16 text-wrap text-justify">{{ conditions.description|safe }}</div>

        {% else %}
            <div class="mt-4 alert alert-info alert-dismissible fade show" role="alert">
                <strong>Nothing to show!</strong> There are no conditions yet.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        {% endif %}


    </section>

{% endblock body_content %}

{% block building %}{{ company_contact.building_name }} {% endblock building %}
{% block street %}{{ company_contact.street }} {% endblock street %}
{% block post_code %}{{ company_contact.post_code }} {% endblock post_code %}
{% block email_address %}{{ company_contact.email_address }} {% endblock email_address %}
{% block phone_number %}{{ company_contact.phone_number }} {% endblock phone_number %}


{#Company Social Media Information#}

{% block fb_link %}{{ social_links.facebook }}{% endblock fb_link %}
{% block insta_link %}{{ social_links.instagram }}{% endblock insta_link %}
{% block twitter_link %}{{ social_links.twitter }}{% endblock twitter_link %}


