{% extends 'site_base.html' %}
{% load static %}
{% block title %} Privacy Policy | Horsed{% endblock title %}
{% block body_content %}

    <section class="section p-4 bg-soft-dark">

        <div class="row mt-5 font-weight-bolder font-size-24 text-uppercase text-white text-center justify-content-center"
             style="background-color: #8EA9DB">

            <p class="">Datenschutz</p>
        </div>

        {% if data_policy and data_policy.is_active %}


                <div class="row">
                    <h4>{{ data_policy.title }}</h4>
                </div>

                <div class="mt-4">
                    <p class="font-size-16 text-wrap text-justify">{{ data_policy.description|safe }}</div>


        {% else %}

            <div class="mt-4 alert alert-info alert-dismissible fade show" role="alert">
                <strong>Nothing to show!</strong> There is no privacy policy yet.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        {% endif %}


    </section>

{% endblock body_content %}

