{% extends 'site_base.html' %}
{% load static %}
{% block title %}  Fairplay | Horsed {% endblock title %}
{% block body_content %}

    <section class="section p-4">

        <div class="row mt-5 font-weight-bolder font-size-24 text-uppercase text-white text-center justify-content-center"
             style="background-color: #8EA9DB">

            <p class="">Fair Play</p>
        </div>

        {% if fair_play and fair_play.is_active %}


                <div class="ml-2 row">
                    <h4>{{ fair_play.title }}</h4>
                </div>

                <div class="mt-4">
                    <p class="font-size-16 text-wrap text-justify">{{ fair_play.description|safe }}</div>


        {% else %}

            <div class="mt-4 alert alert-info alert-dismissible fade show" role="alert">
                <strong>Nothing to show!</strong> There is no fair play yet.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        {% endif %}


    </section>

{% endblock body_content %}

