{% extends 'site_base.html' %}
{% load static %}
{% block title %} Privacy Policy {% endblock title %}
{% block body_content %}

    <section class="section p-4 bg-light">

        <div class="row mt-5 font-weight-bolder font-size-24 text-uppercase text-white text-center justify-content-center"
             style="background-color: #8EA9DB">

            <p class="">Impressum</p>
        </div>

        <div class="mt-4">
            <h2>Kontakt Information</h2>
            <h4><i class="fa fa-road" style="color: #FF7F23"></i> Strasse: </h4>
            <h4><i class="fa fa-home" style="color: #FF7F23"></i> PLZ Ort</h4>
            <h4><i class="fa fa-envelope" style="color: #FF7F23"></i> info@horsed.ch</h4>
        </div>

        <div class="mt-4">
            <h4 class="">Haftungsausschluss</h4>
            <p class="font-size-16 text-wrap text-justify">Der Autor übernimmt keinerlei Gewähr hinsichtlich der
                inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der
                Informationen.

                Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem
                Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der
                Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen.

                Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das
                gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die
                Veröffentlichung zeitweise oder endgültig einzustellen.</p>
        </div>

        <div class="mt-4">
            <h4 class="">Haftung für Links</h4>
            <p class="font-size-16 text-wrap text-justify">Verweise und Links auf Webseiten Dritter liegen ausserhalb
                unseres Verantwortungsbereichs Es wird jegliche Verantwortung für solche Webseiten abgelehnt. Der
                Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene Gefahr des Nutzers oder der Nutzerin. </p>
        </div>

        <div class="mt-4">
            <h4 class="">Urheberrechte</h4>
            <p class="font-size-16 text-wrap text-justify">Die Urheber- und alle anderen Rechte an Inhalten, Bildern,
                Fotos oder anderen Dateien auf der Website gehören ausschliesslich der Firma MyCamper oder den speziell
                genannten Rechtsinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung der
                Urheberrechtsträger im Voraus einzuholen.</p></div>

    </section>

{% endblock body_content %}




