{% extends 'site_base.html' %}
{% load static %}
{% block title %} Privacy Policy {% endblock title %}
{% block body_content %}

    <section class="section p-4 bg-light">

        <div class="row mt-5 font-weight-bolder font-size-24 text-uppercase text-white text-center justify-content-center"
             style="background-color: #8EA9DB">

            <p class="">Impressum</p>
        </div>

        {% if contact_information %}
            <div class="mt-4">
            <h2>Kontakt Information</h2>
            <h4><i class="fa fa-road" style="color: #FF7F23"></i>  {{ contact_information.street }}</h4>
            <h4><i class="fa fa-home" style="color: #FF7F23"></i>  {{ contact_information.post_code }}</h4>
            <h4><i class="fa fa-envelope" style="color: #FF7F23"></i> {{ contact_information.email_address }}</h4>
        </div>
    {% endif %}

        {% if imprint and imprint.is_active %}


                <div class="row">
                    <h4>{{ imprint.title }}</h4>
                </div>

                <div class="mt-4">
                    <p class="font-size-16 text-wrap text-justify">{{ imprint.description|safe }}</div>


        {% else %}

            <div class="mt-4 alert alert-info alert-dismissible fade show" role="alert">
                <strong>Nothing to show!</strong> There is no imprint yet.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        {% endif %}


    </section>

{% endblock body_content %}




