{% extends 'site_base.html' %}
{% load static %}
{% block title %}Horsed{% endblock title %}
{% block extra_class_header %} {% endblock extra_class_header %}
{% block body_content %}
    <!-- hero section start -->
    <section class="section hero-section" id="home" style='background-image: url("{% static 'images/hero_img.jpg' %}");
            height: 50%;

            /* Position and center the image to scale nicely on all screens */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;'>
        {#        <div class="bg-overlay bg-primary"></div>#}
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="text-white-50">
                        {% if hero_section.is_active %}
                            <h1 class="text-white font-weight-semibold mb-3 hero-title">{{ hero_section.site_title }}</h1>
                            <p class="font-size-14">{{ hero_section.site_description }}</p>
                        {% endif %}

                        <div class="button-items mt-4">
                            <a href="#" class="btn" style="background-color: #FF7F23; color: white" id="rent">Rent A
                                Product</a>
                            <a href="#" class="btn btn-light">List Your Product</a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-6 mt-4">
                        <form class="mt-4 mt-sm-0  form-inline">
                            <div class="search-box mr-2">
                                <div class="position-relative">
                                    <input type="text" class="form-control border-0" placeholder="Search...">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                            <ul class="nav nav-pills product-view-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#" style="background-color: #FF7F23"><i
                                            class="bx bx-search-alt"></i></a>
                                </li>
                            </ul>


                        </form>
                    </div>
                </div>

            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- hero section end -->

    <!-- currency price section start -->
    <section class="section bg-white p-0">
        <div class="container">
            <div class="currency-price">
                <div class="row">
                    {% for box in boxes %}
                        {% if box.is_active %}
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="avatar-xs mr-3">
                                            <span class="avatar-title rounded-circle bg-soft-warning text-warning font-size-18">
                                                <i class="mdi mdi-flash"></i>
                                            </span>
                                            </div>
                                            <div class="media-body">
                                                <p class="font-size-16 font-weight-bold">{{ box.box_title }}</p>
                                                <p class="text-muted text-truncate mb-0">{{ box.box_description }} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- end container -->
    </section>
    <!-- currency price section end -->

    <!-- most popular start -->
    <section class="section pt-4 bg-white" id="most-popular">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <h4>Most Popular</h4>
                    </div>
                </div>
            </div>

            <!-- end row -->

            <div class="row mt-4">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <div class="card-img-top">
                                <img src="{% static 'images/product/horse.png' %}" alt="">
                            </div>
                        </div>
                        <div class="card-footer mt-4 text-center">
                            <h5 class="mb-3 text-truncate"><a href="#" class="text-dark">Item 1
                            </a></h5>
                            <p class="text-muted">
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star"></i>
                            </p>
                            <h5 class="my-0"><span class="text-muted mr-2">Per Year</span>
                                <b>$225</b>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <div class="card-img-top">
                                <img src="{% static 'images/product/horse.png' %}" alt="">
                            </div>

                        </div>
                        <div class="card-footer mt-4 text-center">
                            <h5 class="mb-3 text-truncate"><a href="#" class="text-dark">Item 1
                            </a></h5>

                            <p class="text-muted">
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star"></i>
                            </p>
                            <h5 class="my-0"><span class="text-muted mr-2">Per Year</span>
                                <b>$225</b>
                            </h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <div class="card-img-top">
                                <img src="{% static 'images/product/horse.png' %}" alt="">
                            </div>

                        </div>
                        <div class="card-footer mt-4 text-center">
                            <h5 class="mb-3 text-truncate"><a href="#" class="text-dark">Item 1
                            </a></h5>

                            <p class="text-muted">
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star"></i>
                            </p>
                            <h5 class="my-0"><span class="text-muted mr-2">Per Year</span>
                                <b>$225</b>
                            </h5>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row mt-4 justify-content-center">
                <a class="btn btn-lg btn-default" style="background-color: #FF7F23; color: white">Show All Products</a>
            </div>

        </div>
        <!-- end container -->
    </section>
    <!-- most popular end -->

    <!--Recent Products -->
    <section class="section" id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <h4>Recent Products</h4>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row mt-4">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="card-img-top">
                                <img src="{% static 'images/product/horse.png' %}" alt="">
                            </div>
                        </div>
                        <div class="card-footer mt-4 text-center">
                            <h5 class="mb-3 text-truncate"><a href="#" class="text-dark">Item 1
                            </a></h5>
                            <p class="text-muted">
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star"></i>
                            </p>
                            <h5 class="my-0"><span class="text-muted mr-2">Per Year</span>
                                <b>$225</b>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="card-img-top">
                                <img src="{% static 'images/product/horse.png' %}" alt="">
                            </div>

                        </div>
                        <div class="card-footer mt-4 text-center">
                            <h5 class="mb-3 text-truncate"><a href="#" class="text-dark">Item 1
                            </a></h5>

                            <p class="text-muted">
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star"></i>
                            </p>
                            <h5 class="my-0"><span class="text-muted mr-2">Per Year</span>
                                <b>$225</b>
                            </h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="card-img-top">
                                <img src="{% static 'images/product/horse.png' %}" alt="">
                            </div>

                        </div>
                        <div class="card-footer mt-4 text-center">
                            <h5 class="mb-3 text-truncate"><a href="#" class="text-dark">Item 1
                            </a></h5>

                            <p class="text-muted">
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star text-warning"></i>
                                <i class="bx bx-star"></i>
                            </p>
                            <h5 class="my-0"><span class="text-muted mr-2">Per Year</span>
                                <b>$225</b>
                            </h5>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row mt-4 justify-content-center">
                <a class="btn btn-lg btn-default" style="background-color: #FF7F23; color: white">Show All Products</a>
            </div>
        </div>
        <!-- end container -->
    </section>
    <!-- Recent Products end -->

    <!--How It Works -->
    <section class="section bg-white" id="how-it-works">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <h4>How It Works</h4>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-2 col-24 text-center">
                    <div class="mb-4">
                        <img alt="Icon search"
                             src="{% static 'images/icons/howitworks-1.png' %}" lazy="loaded">
                    </div>
                    <div class="font-weight-bold">
                        1. Search Object
                    </div>
                    <div>
                        {% lorem 6 w %}
                    </div>
                </div>
                <div class="d-none d-md-flex align-items-start col-md-1">
                    <svg width="13" height="19" xmlns="http://www.w3.org/2000/svg"
                         class="svg-icon mr-2rem svg-icon"
                         style="width: 24px; height: 24px; color: rgb(241, 84, 36); stroke: rgb(241, 84, 36); fill: transparent;">
                        <path d="M2.23 2L10 9.39 2 17" stroke="#F15424" stroke-width="3" fill="none"
                              fill-rule="evenodd" stroke-linecap="round"></path>
                    </svg>
                </div>

                <div class="col-md-2 col-24 text-center">
                    <div class="mb-4">
                        <img alt="Icon search"
                             src="{% static 'images/icons/howitworks-1.png' %}" lazy="loaded">
                    </div>
                    <div class="font-weight-bold">
                        1. Search Object
                    </div>
                    <div>
                        {% lorem 6 w %}
                    </div>
                </div>
                <div class="d-none d-md-flex align-items-start col-md-1">
                    <svg width="13" height="19" xmlns="http://www.w3.org/2000/svg"
                         class="svg-icon mr-2rem svg-icon"
                         style="width: 24px; height: 24px; color: rgb(241, 84, 36); stroke: rgb(241, 84, 36); fill: transparent;">
                        <path d="M2.23 2L10 9.39 2 17" stroke="#F15424" stroke-width="3" fill="none"
                              fill-rule="evenodd" stroke-linecap="round"></path>
                    </svg>
                </div>

                <div class="col-md-2 col-24 text-center">
                    <div class="mb-4">
                        <img alt="Icon search"
                             src="{% static 'images/icons/howitworks-1.png' %}" lazy="loaded">
                    </div>
                    <div class="font-weight-bold">
                        1. Search Object
                    </div>
                    <div>
                        {% lorem 6 w %}
                    </div>
                </div>
                <div class="d-none d-md-flex align-items-start col-md-1">
                    <svg width="13" height="19" xmlns="http://www.w3.org/2000/svg"
                         class="svg-icon mr-2rem svg-icon"
                         style="width: 24px; height: 24px; color: rgb(241, 84, 36); stroke: rgb(241, 84, 36); fill: transparent;">
                        <path d="M2.23 2L10 9.39 2 17" stroke="#F15424" stroke-width="3" fill="none"
                              fill-rule="evenodd" stroke-linecap="round"></path>
                    </svg>
                </div>

                <div class="col-md-2 col-24 text-center">
                    <div class="mb-4">
                        <img alt="Icon search"
                             src="{% static 'images/icons/howitworks-1.png' %}" lazy="loaded">
                    </div>
                    <div class="font-weight-bold">
                        1. Search Object
                    </div>
                    <div>
                        {% lorem 6 w %}
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- How It Works end -->


    <!-- Team start -->
    <section class="section" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">

                        <h4>Still Have Questions?</h4>
                        <div class="small-title">Check out our Help Center or contact us directly</div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="col-lg-12">
                <div class="owl-carousel owl-theme events navs-carousel" id="team-carousel">
                    {% for person in team %}
                        <div class="item">
                            <div class="card text-center team-box">
                                <div class="card-body">
                                    <div>
                                        <img src="{{ person.person_img.url }}" alt="" class="rounded">
                                    </div>

                                    <div class="mt-3">
                                        <h5>{{ person.full_name }}</h5>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent border-top">
                                    <div class="d-flex mb-0">
                                        <div class="flex-fill">
                                           {{ person.designation }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        <div class="row mt-4 justify-content-center">
                <a class="btn btn-lg btn-default" style="background-color: #FF7F23; color: white">Find an Answer</a>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- Team end -->


{% endblock body_content %}
{##}
{##}
{#****************************************Login Modal****************************************#}
{##}
{#{% include 'authentication/login.html' %}#}

