{% extends 'shop_base.html' %}
{% load static %}
{% block content %}
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Profile</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Edit Profile</a></li>
                                    <li class="breadcrumb-item active"></li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                {#                Start From Here               #}


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">
                                        <a class="close" data-dismiss="alert">×</a>
                                        {{ message|safe }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="card-body">

                                <h4 class="card-title">Basic Information</h4>
                                <p class="card-title-desc">Fill all information below</p>

                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="first_name">First Name</label>
                                                        <input id="first_name" name="first_name" type="text"
                                                               class="form-control" value="{{ member.first_name }}">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="last_name">Last Name</label>
                                                        <input id="last_name" name="last_name" type="text"
                                                               class="form-control"
                                                               value="{{ member.last_name }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="phone_number">Phone Number</label>
                                                        <input id="phone_number" name="phone_number" type="text"
                                                               class="form-control"
                                                               value="{{ member.phone_number|default_if_none:"" }}">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="email_address">Email Address
                                                            {% if member.email_verified %}
                                                                <i class="fa fa-check-circle text-success"></i>
                                                            {% else %}
                                                                <i class="fa fa-times-circle text-danger"></i>
                                                            {% endif %}
                                                        </label>
                                                        <input id="email_address" name="email_address" type="text"
                                                               class="form-control" style="cursor: no-drop"
                                                               value="{{ member.email_address }}" readonly>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="form-group">
                                                        <label for="street_address">Street Address</label>
                                                        <input id="street_address" name="street_address" type="text"
                                                               class="form-control"
                                                               value="{{ member.street_address|default_if_none:"" }}">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="house_number">House Number</label>
                                                        <input id="house_number" name="house_number" type="text"
                                                               class="form-control"
                                                               value="{{ member.house_number|default_if_none:"" }}">
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="zip_code">Zip Code</label>
                                                        <input id="zip_code" name="zip_code" type="text"
                                                               class="form-control"
                                                               value="{{ member.zip_code|default_if_none:"" }}">
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="form-group">
                                                        <label for="city_name">City</label>
                                                        <input id="city_name" name="city_name" type="text"
                                                               class="form-control"
                                                               value="{{ member.city|default_if_none:"" }}">
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="control-label" for="country_name">Country</label>
                                                <select class="form-control select2" id="country_name"
                                                        name="country_name"
                                                        aria-selected="{{ bank_account.country|default_if_none:"" }}">
                                                    <option>Select</option>
                                                    <option value="AK">Alaska</option>
                                                    <option value="HI">Hawaii</option>
                                                </select>


                                            </div>
                                        </div>

                                        <div class="col-sm-6 text-center d-flex justify-content-center">
                                            <div class="form-group">
                                                <div class="mt-4 mt-md-0">
                                                    <img class="rounded-circle avatar-xl" alt="profile picture"
                                                            {% if social_account != "" %}
                                                         src="{{ social_account.extra_data.picture }}"
                                                            {% else %}
                                                         src="{{ member.profile_picture.url }}"
                                                            {% endif %}
                                                         data-holder-rendered="true">
                                                </div>
                                                <br>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input"
                                                                   name="profile_pic"
                                                                   id="profile_pic" accept="image/*"

                                                                    {% if social_account != "" %}
                                                                   value="{{ social_account.extra_data.picture }}"
                                                                    {% else %}
                                                                   value="{{ member.profile_picture.url }}"
                                                                    {% endif %}
                                                            >
                                                            <label class="custom-file-label" for="customFile">Profile
                                                                Picture</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" name="basic-information"
                                            class="btn btn-primary mr-1 waves-effect waves-light">Save
                                        Changes
                                    </button>
                                    <button type="submit" class="btn btn-secondary waves-effect">Cancel</button>
                                </form>

                            </div>
                        </div>

                        {#                        Bank Account Information           #}
                        {% if member.role == "Landlord" %}
                            {% block bank_account_details %}
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Bank Details</h4>
                                        <p class="card-title-desc">For object owners only: We need this information to
                                            pay
                                            your
                                            rental income.
                                            <br><br>
                                            <span class="font-weight-bolder font-size-16 text-dark">Account holder details</span>
                                        </p>


                                        <form class="form-horizontal" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="first_name">First Name</label>
                                                                <input id="first_name" name="first_name" type="text"
                                                                       class="form-control"
                                                                       value="{{ bank_account.first_name|default_if_none:"" }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="last_name">Last Name</label>
                                                                <input id="last_name" name="last_name" type="text"
                                                                       class="form-control"
                                                                       value="{{ bank_account.last_name|default_if_none:"" }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="phone_number">Phone Number</label>
                                                        <input id="phone_number" name="phone_number" type="text"
                                                               class="form-control"
                                                               value="{{ bank_account.phone_number|default_if_none:"" }}">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="email_address">Email Address </label>
                                                        <input id="email_address" name="email_address" type="text"
                                                               class="form-control"
                                                               value="{{ bank_account.email_address|default_if_none:"" }}">

                                                    </div>

                                                </div>
                                            </div>
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <div class="form-group">
                                                                <label for="street_address">Street Address</label>
                                                                <input id="street_address" name="street_address"
                                                                       type="text"
                                                                       class="form-control"
                                                                       value="{{ bank_account.street_address|default_if_none:"" }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label for="house_number">House Number</label>
                                                                <input id="house_number" name="house_number" type="text"
                                                                       class="form-control"
                                                                       value="{{ bank_account.house_number|default_if_none:"" }}">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label for="zip_code">Zip Code</label>
                                                                <input id="zip_code" name="zip_code" type="text"
                                                                       class="form-control"
                                                                       value="{{ bank_account.zip_code|default_if_none:"" }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div class="form-group">
                                                                <label for="city_name">City</label>
                                                                <input id="city_name" name="city_name" type="text"
                                                                       class="form-control"
                                                                       value="{{ bank_account.zip_code|default_if_none:"" }}">
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <label class="control-label"
                                                               for="bank_country_name">Country</label>
                                                        <select class="form-control select2" id="bank_country_name"
                                                                name="bank_country_name"
                                                                aria-selected="{{ bank_account.country|default_if_none:"" }}">
                                                            <option>Select</option>
                                                            <option value="AK">Alaska</option>
                                                            <option value="HI">Hawaii</option>
                                                        </select>

                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="metadescription">Meta Description</label>
                                                        <textarea class="form-control" id="metadescription"
                                                                  rows="5"></textarea>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="IBAN">IBAN</label>
                                                        <input id="IBAN" name="IBAN" type="text"
                                                               class="form-control"
                                                               value="{{ bank_account.IBAN|default_if_none:"" }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="BIC">BIC</label>
                                                        <input id="BIC" name="BIC" type="text" class="form-control"
                                                               value="{{ bank_account.BIC|default_if_none:"" }}">
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="submit" name="bank-information"
                                                    class="btn btn-primary mr-1 waves-effect waves-light">
                                                Save
                                                Changes
                                            </button>
                                            <button type="submit" class="btn btn-secondary waves-effect">Cancel</button>

                                        </form>

                                    </div>
                                </div>
                            {% endblock bank_account_details %}
                        {% endif %}

                        {#                        Additional Information              #}

                        {% if member.role == "Landlord" %}
                            {% block additional_information %}
                                <div class="card">
                                    <div class="card-body">
                                        <span class="card-title">Additional Information</span> &nbsp;&nbsp;
                                        <span class="card-title-desc ">Show interested renters in which languages you can communicate. </span>
                                        <form class="form-horizontal" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        {% if language != "" %}
                                                            {% if language.dutch %}
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <div class="custom-control custom-checkbox mb-3 mt-3">
                                                                            <input type="checkbox"
                                                                                   class="custom-control-input"
                                                                                   id="dutch" name="dutch" checked>
                                                                            <label class="custom-control-label"
                                                                                   for="dutch">Deutsch</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <div class="custom-control custom-checkbox mb-3 mt-3">
                                                                            <input type="checkbox"
                                                                                   class="custom-control-input"
                                                                                   id="dutch" name="dutch">
                                                                            <label class="custom-control-label"
                                                                                   for="dutch">Deutsch</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}

                                                            {% if language.french %}
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <div class="custom-control custom-checkbox mb-3 mt-3">
                                                                            <input type="checkbox"
                                                                                   class="custom-control-input"
                                                                                   id="french" name="french" checked="">
                                                                            <label class="custom-control-label"
                                                                                   for="french">Französisch</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <div class="custom-control custom-checkbox mb-3 mt-3">
                                                                            <input type="checkbox"
                                                                                   class="custom-control-input"
                                                                                   id="french" name="french">
                                                                            <label class="custom-control-label"
                                                                                   for="french">Französisch</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}

                                                            {% if language.italian %}
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <div class="custom-control custom-checkbox mb-3 mt-3">
                                                                            <input type="checkbox"
                                                                                   class="custom-control-input"
                                                                                   id="italian" name="italian"
                                                                                   checked="">
                                                                            <label class="custom-control-label"
                                                                                   for="italian">Italienisch</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <div class="custom-control custom-checkbox mb-3 mt-3">
                                                                            <input type="checkbox"
                                                                                   class="custom-control-input"
                                                                                   id="italian" name="italian">
                                                                            <label class="custom-control-label"
                                                                                   for="italian">Italienisch</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}

                                                            {% if language.english %}
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <div class="custom-control custom-checkbox mb-3 mt-3">
                                                                            <input type="checkbox"
                                                                                   class="custom-control-input"
                                                                                   id="english" name="english"
                                                                                   checked="">
                                                                            <label class="custom-control-label"
                                                                                   for="english">Englisch</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <div class="custom-control custom-checkbox mb-3 mt-3">
                                                                            <input type="checkbox"
                                                                                   class="custom-control-input"
                                                                                   id="english" name="english">
                                                                            <label class="custom-control-label"
                                                                                   for="english">Englisch</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% else %}
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <div class="custom-control custom-checkbox mb-3 mt-3">
                                                                        <input type="checkbox"
                                                                               class="custom-control-input"
                                                                               id="dutch" name="dutch">
                                                                        <label class="custom-control-label"
                                                                               for="dutch">Deutsch</label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <div class="custom-control custom-checkbox mb-3 mt-3">
                                                                        <input type="checkbox"
                                                                               class="custom-control-input"
                                                                               id="french" name="french">
                                                                        <label class="custom-control-label"
                                                                               for="french">Französisch</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <div class="custom-control custom-checkbox mb-3 mt-3">
                                                                        <input type="checkbox"
                                                                               class="custom-control-input"
                                                                               id="italian" name="italian">
                                                                        <label class="custom-control-label"
                                                                               for="italian">Italienisch</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <div class="custom-control custom-checkbox mb-3 mt-3">
                                                                        <input type="checkbox"
                                                                               class="custom-control-input"
                                                                               id="english" name="english">
                                                                        <label class="custom-control-label"
                                                                               for="english">Englisch</label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        {% endif %}

                                                    </div>

                                                    <div class="form-group mt-3">
                                                        <p class="card-title">Are you on social media?</p>
                                                        <label for="facebook_url">Link to Facebook profile</label>
                                                        <input id="facebook_url" name="facebook_url" type="text"
                                                               class="form-control"
                                                               value="{{ social_links.facebook|default_if_none:"" }}">
                                                    </div>


                                                    <div class="form-group">
                                                        <label for="instagram_url">Link to Instagram profile</label>
                                                        <input id="instagram_url" name="instagram_url" type="text"
                                                               class="form-control"
                                                               value="{{ social_links.instagram|default_if_none:"" }}">
                                                    </div>

                                                </div>
                                                <div class="col-sm-6">

                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="metadescription">Tell us who you are and with what
                                                            aim
                                                            you
                                                            registered at horsed.ch.</label>
                                                        <textarea class="form-control" id="metadescription"
                                                                  rows="5"></textarea>
                                                    </div>

                                                </div>
                                            </div>

                                            <button type="submit" name="additional-information"
                                                    class="btn btn-primary mr-1 waves-effect waves-light">
                                                Save
                                                Changes
                                            </button>
                                            <button type="submit" class="btn btn-secondary waves-effect">Cancel</button>

                                        </form>

                                    </div>
                                </div>
                            {% endblock additional_information %}
                        {% endif %}

                        {#                        Account Login Setting                 #}

                        {% block account_login_setting %}
                            <div class="card">
                                <div class="card-body">

                                    {% if social_account == "" %}
                                        <span class="card-title">Account Login Settings</span> &nbsp;&nbsp;
                                        <span class="card-title-desc ">You can change your account login settings from here.</span>
                                    {% elif social_account != "" %}
                                        <span class="card-title">Disconnect Social Account</span> &nbsp;&nbsp;
                                        <span class="card-title-desc ">You need to set password for your profile to avoid yourself getting locked out of the system. </span>
                                    {% endif %}
                                    <form class="form-horizontal" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="account_email_address">Email Address</label>
                                                    <input id="account_email_address" name="account_email_address"
                                                           type="email"
                                                           class="form-control" style="cursor: no-drop"
                                                           value="{{ member.email_address|default_if_none:"" }}"
                                                           readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">New Password</label>
                                                    <input id="password" name="password" type="password"
                                                           class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="confirm_password">Confirm New Password</label>
                                                    <input id="confirm_password" name="confirm_password"
                                                           type="password"
                                                           class="form-control">
                                                </div>

                                            </div>
                                        </div>


                                        {% if social_account == "" %}
                                            <button type="submit" name="account-settings"
                                                    class="btn btn-primary mr-1 waves-effect waves-light">
                                                Save Changes
                                            </button>
                                        {% elif social_account != "" %}
                                            <button type="submit" name="disconnect-social-account"
                                                    class="btn btn-danger mr-1 waves-effect waves-light">
                                                Disconnect {{ social_account.provider }} account
                                            </button>
                                        {% endif %}

                                        <button type="submit" class="btn btn-secondary waves-effect">Cancel</button>

                                    </form>

                                </div>
                            </div>
                        {% endblock account_login_setting %}

                    </div>
                </div>
                <!-- end row -->
            </div>
        </div>
    </div> <!-- container-fluid -->

{% endblock content %}





