<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />



        <link href="{% static 'libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'libs/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet" />
<link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />


{% block extra_css_block %}
{% endblock extra_css_block %}
</head>
<body data-topbar="light" data-layout="horizontal">

        <!-- Begin page -->
        <div id="layout-wrapper">

            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="index.html" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="{% static 'images/logo/logo.png' %}" alt="" height="75">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'images/logo/logo.png' %}" alt="" height="75">
                                </span>
                            </a>

                            <a href="index.html" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{% static 'images/logo/logo.png' %}" alt="" height="75">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'images/logo/logo.png' %}" alt="" height="75">
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="d-flex">

                        <div class="dropdown d-none d-lg-inline-block ml-1">
                            <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                                <i class="bx bx-fullscreen"></i>
                            </button>
                        </div>


                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle header-profile-user" src="{% static 'images/users/avatar-1.jpg' %}"
                                    alt="Header Avatar">
                                <span class="d-none d-xl-inline-block ml-1">Henry</span>
                                <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a class="dropdown-item" href="#"><i class="bx bx-user font-size-16 align-middle mr-1"></i> Profile</a>

                                <a class="dropdown-item d-block" href="#"><i class="bx bx-wrench font-size-16 align-middle mr-1"></i> Settings</a>

                                <a class="dropdown-item text-danger" href="#"><i class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i> Logout</a>
                            </div>
                        </div>

                    </div>
                </div>
            </header>

                <div class="topnav" style="background-color: #8EA9DB">
                    <div class="container-fluid text-center">
                        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                            <div class="collapse navbar-collapse" id="topnav-menu-content">
                                <ul class="navbar-nav">

                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#" role="button"
                                            data-toggle="" aria-haspopup="true" aria-expanded="false">
                                            <i class="bx bx-home-circle mr-2"></i>My Account
                                        </a>
                                    </li>

                                    <li class="nav-item ">
                                        <a class="nav-link  text-white" href="#" id="topnav-uielement" role="button"
                                            data-toggle="" aria-haspopup="true" aria-expanded="false">
                                            <i class="bx bx-edit mr-2"></i>Edit Profile
                                        </a>
                                    </li>

                                    <li class="nav-item ">
                                        <a class="nav-link text-white" href="#" id="topnav-pages" role="button"
                                            data-toggle="" aria-haspopup="true" aria-expanded="false">
                                            <i class="bx bx-menu mr-2"></i>My Bookings
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#" id="" role="button">
                                            <i class="bx bx-collection mr-2"></i>My Products
                                        </a>

                                    </li>



                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#" id="" role="button"
                                            aria-expanded="false">
                                            <i class="bx bx-log-out-circle mr-2"></i>Logout
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
        </div>
        <!-- END layout-wrapper -->

{% block content %}

{% endblock content %}


        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>

        <!-- apexcharts -->
        <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>

        <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'js/app.js' %}"></script>


        <script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>

        <script src="{% static 'js/pages/form-advanced.init.js' %}"></script>

        {% block extra_js_block %}
        {% endblock extra_js_block %}

{% block custom_js %}
{% endblock custom_js %}



</body>
</html>