{% extends 'site_base.html' %}
{% load  static %}
{% block body_content %}
    <div class="home-btn d-none d-sm-block">
        <a href="#" class="text-dark"><i class="fas fa-home h2"></i></a>
    </div>
    <div class="account-pages my-5 pt-sm-5">

        <div class="container">
            <div class="justify-content-center font-size-16">
                Hi, I'm integrating a reporting system with the project from there, you can report all the bugs and
                issues.
                <br>
                I will be creating an official account for you and for that purpose I need your email address. Plus from
                now onwards
                <br>
                I will be updating you regularly so it's easy if we can communicate through email or WhatsApp (only if
                you feel comfortable).
                Fiverr don't allow communication outside of it that is why I'm asking here.
                <br>
                <br>
                WhatsApp: +923070861396<br>
                Email: osmanamin689@gmail.com
            </div>

        </div>
    </div>
{% endblock body_content %}

{% block footer %}
{% endblock footer %}