{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %} {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description"/>
    <meta content="Themesbrand" name="author"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- owl.carousel css -->
    <link rel="stylesheet" href="{% static 'libs/owl.carousel/assets/owl.carousel.min.css' %}">

    <link rel="stylesheet" href="{% static 'libs/owl.carousel/assets/owl.theme.default.min.css' %}">

    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.min.css' %}" id="" rel="stylesheet" type="text/css"/>

    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- App Css-->
    <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css"/>
<style>
    .text-blue{
        background-color: #8EA9DB;
    }
</style>
</head>
<body>
{% block nav_bar %}
    <nav class="navbar navbar-expand-lg navigation fixed-top sticky" style="background-color: #FFFFFF">
    <div class="container">
        <a class="navbar-logo" href="index.html">
            <img src="{% static 'images/logo/logo.png' %}" alt="" height="50" class="logo logo-dark">
            <img src="{% static 'images/logo/logo.png' %}" alt="" height="50" class="logo logo-light">

        </a>
        <span class="font-weight-bolder font-size-24">Horsed.ch</span>

        <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light"
                data-toggle="collapse" data-target="#topnav-menu-content">
            <i class="fa fa-fw fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="topnav-menu-content">
            <ul class="navbar-nav ml-auto" id="topnav-menu">
                <li class="nav-item" >
                    <a class="nav-link active btn text-white" href="#home"><span style="background-color: #8EA9DB" class="p-1">Mieten</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn text-white" href="#home"><span style="background-color: #8EA9DB" class="p-1">Vermieter Werden</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn text-white" data-toggle="modal" data-target="#signupModal"><span style="background-color: #8EA9DB" class="p-1">Registrieren</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn text-white" data-toggle="modal" data-target="#loginModal"><span style="background-color: #8EA9DB" class="p-1">Login</span> </a>
                </li>

            </ul>

        </div>
    </div>
</nav>
{% endblock nav_bar %}

{% block body_content %}
{% endblock body_content %}







{% block footer %}
    <footer class="text-center text-lg-start" style="background-color: #8EA9DB">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-white">Mieten</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Versicherung</a>
          </li>
          <li>
            <a href="#!" class="text-white">Fairplay</a>
          </li>
          <li>
            <a href="#!" class="text-white">FAQ Mieter</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-white">Vermieten</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Versicherungsbedinungen</a>
          </li>
          <li>
            <a href="#!" class="text-white">FAQ Vermieter</a>
          </li>

        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-white">Social Media</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white"><i class="fa fa-facebook"></i> horsed.ch auf Facebook</a>
          </li>
          <li>
            <a href="#!" class="text-white"><i class="fa fa-instagram"></i>horsed.ch auf Instagram </a>
          </li>

        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-white">horsed.ch</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Über uns</a>
          </li>
          <li>
            <a href="#!" class="text-white">Newsletter</a>

          </li>

        </ul>
      </div>

        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-white">Kontakt</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">horsed.ch</a>
          </li>
          <li>
            <a href="#!" class="text-white">Strasse</a>
          </li>
            <li>
            <a href="#!" class="text-white">PLZ Ort</a>
          </li>
            <br>
            <li>
            <a href="#!" class="text-white">info@horsed.ch</a>
          </li><li>
            <a href="#!" class="text-white">Telefon</a>
          </li>

        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 text-white" style="background-color: #8EA9DB">
    Copyright © 2021
    <a class="text-white" href="/">Horsed.ch</a>
  </div>
  <!-- Copyright -->
</footer>
{% endblock footer %}

{% block scripts %}
    <!-- JAVASCRIPT -->
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'libs/node-waves/waves.min.js' %}"></script>

<script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>

<script src="{% static 'js/pages/form-advanced.init.js' %}"></script>


<script src="{% static 'libs/jquery.easing/jquery.easing.min.js' %}"></script>

<!-- Plugins js-->
<script src="{% static 'libs/jquery-countdown/jquery.countdown.min.js' %}"></script>

<!-- owl.carousel js -->
<script src="{% static 'libs/owl.carousel/owl.carousel.min.js' %}"></script>

<!-- ICO landing init -->
<script src="{% static 'js/pages/ico-landing.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock scripts %}
</body>
</html>