{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %} {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Horsedch, A Secured and trusty Rental Website" name="description"/>
    <meta content="Horsedch" name="author"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">

    <!-- owl.carousel css -->
    <link rel="stylesheet" href="{% static '/libs/owl.carousel/assets/owl.carousel.min.css' %} ">

    <link rel="stylesheet" href="{% static '/libs/owl.carousel/assets/owl.theme.default.min.css' %} ">

    <!-- Bootstrap Css -->
    <link href="{% static '/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet"/>
    <!-- Icons Css -->
    <link href="{% static '/css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- App Css-->
    <link href="{% static '/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css"/>

    {% block extra_css_style %}
    {% endblock extra_css_style %}
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
</head>
<body data-spy="scroll" data-target="#topnav-menu" data-offset="60">
{% block nav_bar %}
    <nav class="navbar navbar-expand-lg navigation fixed-top sticky {% block extra_class_header %} bg-dark {% endblock extra_class_header %}">
        <div class="container">
            <a class="navbar-logo" href="/">
                <img src="{% static 'images/logo/logo-large.png' %}" alt="" height="30"
                     class="logo logo-dark">
                <img src="{% static 'images/logo/logo-large.png' %}" alt="" height="30"
                     class="logo logo-light">
            </a>

            <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light"
                    data-toggle="collapse" data-target="#topnav-menu-content">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav ml-auto" id="topnav-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Login' %}">Rent</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Login' %}">Rent Out</a>
                    </li>

                    {% if user.is_authenticated is False %}
                        <li class="nav-item">
                            <a href="#" class="nav-link">Register</a>
                        </li>

                    {% endif %}
                </ul>

                {% if user.is_authenticated %}
                    <div class="ml-lg-2">
                        <a href="{% url 'Logout' %}" class="btn btn-outline-success w-xs">Logout</a>
                    </div>
                {% else %}

                    <div class="ml-lg-2">
                        <a href="{% url 'Login' %}" class="btn btn-outline-success w-xs">Sign in</a>
                    </div>

                {% endif %}

            </div>
        </div>
    </nav>
{% endblock nav_bar %}
{% block body_content %}

{% endblock body_content %}


{% block footer %}
    <!-- Footer start -->
    <footer class="landing-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4 mb-lg-0">
                        <h5 class="mb-3 footer-list-title">Horsed</h5>
                        <ul class="list-unstyled footer-list-menu">
                            <li><a href="{% url 'About Us' %}">About Us</a></li>
                            <li><a href="{% url 'Home' %}#how-it-works">How it Works</a></li>
                            <li><a href="{% url 'About Us' %}#team">Team</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="mb-4 mb-lg-0">
                        <h5 class="mb-3 footer-list-title">Rent</h5>
                        <ul class="list-unstyled footer-list-menu">
                            <li><a href="#">Insurance</a></li>
                            <li><a href="{% url 'Fair Play' %}">Fair Play</a></li>
                            <li><a href="{% url 'FAQs' %}">FAQs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4 mb-lg-0">
                        <h5 class="mb-3 footer-list-title">Rent Out</h5>
                        <ul class="list-unstyled footer-list-menu">
                            <li><a href="#">Insurance Conditions</a></li>
                            <li><a href="{% url 'FAQs_Object_Owners' %}">FAQs Landlord</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="mb-4 mb-lg-0">
                        <h5 class="mb-3 footer-list-title">Social Media</h5>
                        <ul class="list-unstyled footer-list-menu">
                            <li><a href="{{ social_links.facebook }}" target="_blank"><i
                                    class="bx bxl-facebook-square font-size-20"></i> Facebook</a></li>
                            <li><a href="{{ social_links.instagram }}" target="_blank"><i
                                    class="bx bxl-instagram font-size-20"></i>
                                Instagram</a></li>
                            <li><a href="{{ social_links.linkedIn }}" target="_blank"><i
                                    class="bx bxl-linkedin-square font-size-20"></i>
                                LinkedIn</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="mb-4 mb-lg-0">
                        <h5 class="mb-3 footer-list-title">Contact</h5>
                        <ul class="list-unstyled footer-list-menu">
                            <li>{{ company_contact.building_name }}</li>
                            <li>{% block street %}{{ company_contact.street }}{% endblock street %}</li>
                            <li>{% block post_code %}{{ company_contact.post_code }} {% endblock post_code %}</li>

                            <li class="mt-3">{% block email_address %}
                                {{ company_contact.email_address }}{% endblock email_address %}</li>
                            <li>{% block phone_number %}
                                {{ company_contact.phone_number }}{% endblock phone_number %}</li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4 mb-lg-0">
                        <ul class="list-unstyled footer-list-menu">
                            <li><a class="btn btn-lg btn-default" style="background-color: #FF7F23">Subscribe to
                                Newsletter</a></li>
                          <a href="{% url 'Conditions' %}" class="">Terms & Conditions</a> | <a href="{% url 'Imprint' %}">Imprint</a> | <a href="{% url 'Data Policy' %}">Privacy Policy</a>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4 mb-lg-0">
                        <ul class="list-unstyled footer-list-menu">
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-4 mb-lg-0">
                        <ul class="list-unstyled footer-list-menu">
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <hr class="footer-border">
            {#            <div class="text-center">#}
            <p class="text-center">2021 © Horsed.</p>
            {#            </div>#}

        </div><!-- end container -->
    </footer>
    <!-- Footer end -->
{% endblock footer %}




























{#               ****************************************************                            Modals goes here         ****************************************************                                    #}

{#        Signup Modal#}
{#<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"#}
{#     aria-hidden="true">#}
{#    <div class="modal-dialog modal-dialog-centered" role="document">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header border-bottom-0">#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
{##}
{#            </div>#}
{#            <div class="modal-body">#}
{#                <div class="form-title text-center">#}
{#                    <h4>Account Erstellen</h4>#}
{#                    <h3 style="color: #8EA9DB">Willkommen Bei horsed.ch</h3>#}
{#                </div>#}
{#                <div class="d-flex flex-column mt-2">#}
{#                    <button type="button" class="btn btn-success btn-block btn-round" data-toggle="modal"#}
{#                            data-target="#signup_using_emailModal">Mit E-Mail Adresse Registrieren#}
{#                    </button>#}
{#                    <button type="button" class="btn btn-danger btn-block btn-round">Mit Google-Account Adresse#}
{#                        Registrieren#}
{#                    </button>#}
{#                    <button type="button" class="btn btn-info btn-block btn-round">Mit Facebook Registrieren#}
{#                    </button>#}
{##}
{##}
{#                </div>#}
{##}
{#            </div>#}
{#            <div class="modal-footer d-flex justify-content-center">#}
{##}
{#                <div class="signup-section">Du hast schon einen Account ? <a href="#a" class="text-info">Einloggen</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}
{##}
{#         Signin Modal#}
{#{% include 'authentication/login.html' %}#}









{% block scripts %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'libs/jquery.easing/jquery.easing.min.js' %}"></script>

    <!-- Plugins js-->
    <script src="{% static 'libs/jquery-countdown/jquery.countdown.min.js' %}"></script>

    <!-- owl.carousel js -->
    <script src="{% static 'libs/owl.carousel/owl.carousel.min.js' %}"></script>

    <!-- ICO landing init -->
    <script src="{% static 'js/pages/ico-landing.init.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>



{% endblock scripts %}
</body>
</html>