{% extends 'shop_base.html' %}
{% load static %}
{% block content %}
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Profile</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">My Products</a></li>
                                    <li class="breadcrumb-item active"></li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                {#                Start From Here                 #}

                {% if products != "" %}
                    <div class="row">
                        {% for data in products %}
                            <div class="col-lg-3">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="{{ data.image_1.url }}" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-title font-size-16 text-center mb-3">{{ data.product_title }}</p>
                                        <p class="card-text">
                                            <span class="font-weight-bold">{{ data.rental_type }}</span>
                                            <span class="float-right">{{ data.price }}</span>
                                        </p>
                                        {#                                        <p class="card-text">#}
                                        {#                                            <span class="float-left font-weight-bold">Ratings</span>#}
                                        {#                                            <span class="float-right">#}
                                        {#                                                                       {% if data.stars %}#}
                                        {#                                                                           {{ data.stars }}#}
                                        {#                                                                           <i class="bx bxs-star text-warning"></i>#}
                                        {#                                                                       {% else %}#}
                                        {#                                                                           Not rated#}
                                        {#                                                                       {% endif %}#}
                                        {#                                                                      </span>#}
                                        {#                                        </p>#}
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="{% url "edit_my_product" data.id %}" class="btn btn-warning">Edit
                                            Product</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger">
                                    <a class="close" data-dismiss="alert">×</a>
                                    {{ message|safe }}
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                {% endif %}
            </div>
        </div>


    </div> <!-- container-fluid -->
{% endblock content %}

